*.o
detectionHistory.txt
detectionHistory.txt.mine
detectionHistory.txt.r32
detectionHistory.txt.r33
confidenceHistory.txt
*.mat
*.rar
*.jpg
posteriors.txt.mine
posteriors.txt.r32
posteriors.txt.r33
posteriorHistory
*.asv
*.m
*.exe
conf
.svn
*.csv
tld-cppimp.cbp.cbTemp
build
